In [1]:
print ( "yash is saying hello to python")

yash is saying hello to python

 ## variable adding

In [6]:
age =50   # age is a variable

In [10]:
print( age )     # print a value of variable

50

## input function

In [1]:
name = input (" what is your name ? ")

 what is your name ?  yash

In [5]:
name = input ("what is your name ?")
print("hello"+ name )

what is your name ? yash

helloyash

## type of conversation

In [18]:
birthyear= input("enter the number of year you born")
age =2024 -int (birthyear)
print (age)

enter the number of year you born 2003

21

## calculator

In [9]:
first = float(input ("first:"))
second = float(input ("second:"))
sum = first + second
print("sum:" + str (sum))

first: 40.2
second: 30.2

sum:70.4

In [11]:
first = int(input ("first:"))
second = int(input ("second:"))
sum = first + second
print("sum:" + str (sum))

first: 40
second: 30

sum:70

In [21]:
first = int(input ("first:"))
second = int(input ("second:"))
sum = first - second
print("sum:"+ str (sum))

first: 20
second: 30

sum:-10

In [23]:
first = int(input ("first:"))
second = int(input ("second:"))
sum = first * second
print("sum:"+ str (sum))

first: 30
second: 20

sum:600

In [25]:
first = int(input ("first:"))
second = int(input ("second:"))
sum = first % second
print("sum:"+ str (sum))

first: 30
second: 56

sum:30

In [27]:
first = int(input ("first:"))
second = int(input ("second:"))
sum = first / second
print("sum:"+ str (sum))

first: 30
second: 3

sum:10.0

## string